:root {
  --font-size-base: 1rem;

  /* For headings */
  --h1-font-size: --font-size-base * 2.5;
  --h2-font-size: --font-size-base * 2;
  --h3-font-size: --font-size-base * 1.75;
  --h4-font-size: --font-size-base * 1.5;
  --h5-font-size: --font-size-base * 1.25;
  --h6-font-size: --font-size-base;

  --headings-margin-bottom: 1rem / 2;
  --headings-font-family: null;
  --headings-font-weight: 700;
  --headings-line-height: 1.2;
  --headings-color: null;

  --swiper-navigation-size: 20px;
}